.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.NavBar ul li {
  display: inline;
}

.NavBar ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  min-width: 100px;
  width: 100px;
  max-width: 100px;
}

.NavBar a:hover {
  background: black;
}

.NavBar a:visited {
  color: white;
}

.Main {
  margin: 20px;
}

.CardTable {
  display: inline-block;
  text-align: center;
  border: 3px solid darkgreen;
  border-radius: 5px;
  position: relative;
  padding: 10px;
  min-width: 80%;
  min-height: 350px;
  background: green;
}

.CardTable button {
  margin: 10px;
}

.CardTable .PokerHand {
  position: absolute;
  right: 0;
  width: 100%;
}

.CardTable .PokerHand .Card {
  margin: 25px;
}

.CardTable .PokerHand .Card img {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
